body {
  /*background-color: #D2E7F2;*/
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

h1 {
  color: black;
  font-style: uppercase;
  font-family: 'Encode Sans Semi Condensed', sans-serif !important;
  font-weight: 50;
  font-size: medium;
  text-align: center;
  letter-spacing: 5px;
}

.vertical-align {
  min-height: 100%;
  display: flex;
  align-items: center;
}


/* INDEX */

.main-logo {
  background: url(photos/logo/HersheyRendonPhotography-02.png) no-repeat center center;
  height: 70vh;
  width: 100%;
  margin-top: 60px;
}

a:hover {
  cursor: pointer;
}


/* MENU BAR */

.navbar {
  background-color: white;
  box-shadow: 0px 3px 3px #888888;
  border-top-style: solid;
  border-top: thick solid rgb(250, 240, 230);
}

#menu {
  display: flex;
  font-size: small;
  font-weight: 100;
  letter-spacing: 3px;
  padding: 10px;
}

.menu-logo {
  width: 30%;
  float: left;
  padding: 0 50px;
}

.menu-link {
  margin: 50px;
}

.nav a {
  color: rgb(192, 192, 192);
}

.nav a.active {
  color: black;
}

.description {
  text-align: center;
  font-size: small;
  padding: 20px 20px 20px 20px;
}


/* SOCIAL MEDIA MENU */

.social-media-links {
  padding: 25px 0;
}

.fb-logo {
  height: 28px;
}

.insta-logo {
  height: 30px;
}

.social-media-pic {
  margin: 0 auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}


/* PROFILE */

.profile-div {
  background-color: rgb(220,220,220);
  height: 1%;
  overflow: hidden;
  margin: 2px 0;
  border-style: solid;
  border: thin solid black;
}

.dp-container {
  float: left;
  padding: 10px;
  text-align: center;
}

.about-me-container {
  float: left;
  padding: 10px;
  margin: 10px;
}

.profile-pic {
  border-radius: 50%;
  padding: 0 20%;
}

.about-me-title {
  padding: 10px;
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

.about-me-text {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: .03em;
  padding: 10px 30px 10px 10px;
}


/* PORTFOLIO */

.portfolio-div {
  text-align: center;
  background-color: white;
  border-top-style: solid;
  border-top: thin solid black;
}

.img-container {
  display: inline-block;
  padding: 2px !important;
  overflow: hidden;
  background-color: white;
  text-align: center;
}

.photo {
  width: 100%;
  margin: auto;
}

.img-container.vignette::after {
  content: '';
  cursor: pointer;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  padding: 0 120% 120% 0;
  box-shadow: inset 0px 0px 200px 60px rgba(250, 250, 250, 0.8);
}

.photo-table {
  margin: 0 auto;
  width: 80%;
  align-items: center;
  border: solid 2px white;
}

th {
  padding: 20px;
  letter-spacing: 1px;
}

.pf-photo {
  width: 300px;
  padding: 20px;
}

.pf-photo:hover {
  cursor: pointer;
}

#modal-img {
  height: 100%;
  width: 100%;
}


/* CONTACT ME */

.contact-div {
  height: 300px;
  color: black;
  display: inline-block;
  background-color: white;
  text-align: center;
}

.contact-title {
  padding: 25px 0;
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

.contact-details {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: .03em;
  text-align: left;
  margin-left: 9px;
}


/* FOOTER */

#footer {
  margin-top: 2px;
  width: 100%;
  position: absolute;
  height: 60px;
  background-color: rgb(250, 240, 230);
  border-top-style: solid;
  border-top: thin solid black;
}

.footer-block {
  margin: 18px 0;
  color: black;
  font-family: proxima-nova, sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
}
